modules = ["dotnet-7.0", "angular-node-20", "cpp-clang14", "c-clang14", "clojure-1.11", "deno-1", "elixir-1_15", "elixir-1_16", "bun-1.0", "bun-1.1", "bash", "dart-3.3", "dart-3.4", "dart-3.2", "dart-2.18", "hermit-0.38.2", "haskell-ghc9.4", "haskell-ghc9.0", "haskell-ghc9.2", "haskell-ghc9.6", "gcloud", "go-1.19", "go-1.20", "go-1.21", "nodejs-18", "nodejs-19", "nodejs-20", "nix", "lua-5.2", "java-graalvm22.3", "python-with-prybar-3.10", "php-8.1", "php-8.2", "nodejs-with-prybar-18", "nodejs-14", "nodejs-16", "qbasic", "python-3.10", "python-3.11", "python-3.12", "python-3.9", "python-3.8", "swift-5.6", "swift-5.8", "r-4.2", "vue-node-20", "vue-node-18", "typescript-language-server", "web", "pyright-extended", "zig-0.11", "svelte-kit-node-20", "ruby-3.1", "ruby-3.2", "r-4.3", "replit-rtld-loader"]
[nix]
channel = "stable-24_05"
